*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    scroll-behavior:smooth;
}
header{
    background:linear-gradient(#000080a3,#0000807d), url(../image/sunrise-1014712_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 85vh;
}
.logo{
    width: 18rem;
    height: auto;
    margin: 1.4rem;
    padding: 1.4rem;
    float: left;
}
nav{
    background: #000080ad;
    height: 10rem;
    border-bottom: 1px solid #fff;
}
.nav-menu{
    float: right;
    margin: 1.5rem;
    padding: 1.5rem;
}
.nav-menu .fas{
    margin-right: .8rem;
}
.nav-menu ul li{
    list-style-type: none;
    display: inline;
    margin: 1.5rem;
    padding: 1.5rem
}
.active,.nav-menu ul li:hover{
    background:#4f4ca8b3;
    padding-top: 1.5rem;
    border-radius: .5rem;
}
.nav-menu ul li a{
    font-size: 2.1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.hero-text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero-text-box h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.4rem;
}
.hero-text-box a{
    position: absolute;
    font-size: 2.2rem;
    padding: 1.5rem 6rem;
    border-bottom: .3rem solid #3733a4;
    background: #4a52d2;
    margin-top: 4rem;
    margin-left: 30%;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.portfolio{
    background:linear-gradient(#755cec9c,#709de378), url(../image/tree-3072431_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 85vh;
    transition: .5s;
}
.row h1{
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: .2rem;
    margin: 5rem;
    margin-bottom: 2rem;
    margin-top: 0;
    padding-top: 3rem;
}
.text{
    color: #fff;
    font-size: 1.6rem;
    margin-left: 10rem;
    padding: 0;
}
.parent-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex{
    background: #353a4f;
    border-bottom: 3px solid #252835;
    margin: 3rem;
    margin-top: 4.5rem;
    margin-bottom: 0;
}
.parent-div .flex img,h2,p{
    width: 100%;
    height: auto;
    padding: 2rem;
    color: #fff;
}
.flex-1{
    padding-top: 1rem;
}
.parent-div .flex h2{
    padding-top: 0;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.parent-div .flex p{
    padding-top: 0;
    font-size: 1.3rem;
}
.testmonial-section{
    background:linear-gradient(#4f4f5169,#32323338), url(../image/tree-736881_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40vh;
}
.head-flex{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
}
.head-flex .heads{
    width: 50%;
    padding: .5rem;
}
.testmonial-section h1{
    padding-top: 3rem;
    padding-left: 5rem;
    letter-spacing: .2rem;
}
.side-nav{
    display: none;
}
.head-flex{
    margin: 0 3rem;
}
.head-flex h2{
    letter-spacing: .1rem;
    padding-bottom: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
}
.head-flex p{
    font-size: 1.3rem;
}
.fotter{
    height: 6rem;
    background: #31319d;
    text-align: center;
    font-size: 1.6rem;
}